# ----------------------
# Flask
# ----------------------
flask
PyJWT
flask-cors

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
